html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: .8rem; }

body {
  background-color: #c20606;
  height: 100%; }

#spacer {
  height: 40%; }

.navbar {
  padding: 0 0 0 0;
  font-weight: 600; }

.anchor::before {
  display: block;
  content: " ";
  margin-top: -72px;
  height: 72px;
  visibility: hidden;
  pointer-events: none; }

.navbar .navbar-toggler {
  border-color: #b9a17e; }

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 161, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .fab {
  color: #ffffff; }

.navbar .nav-link.active {
  background-color: #c20606; }

.category {
  font-family: Roboto; }

.category-img {
  min-height: 200px;
  max-height: 300px;
  background-size: cover;
  background-position: center; }

.category-img-1 {
  background-image: url("https://instagram.fbne6-1.fna.fbcdn.net/vp/5f34273ac66935562b6741ac54d0b52b/5E116902/t51.2885-15/sh0.08/e35/s640x640/30830926_221508718430865_2571012597851619328_n.jpg?_nc_ht=instagram.fbne6-1.fna.fbcdn.net&_nc_cat=109");
  background-position: 50% 75%; }

.category-img-2 {
  background-image: url("../img/7.jpg");
  background-position-y: 50%; }

.category-img-3 {
  background-image: url("https://www.wickedcampers.com.au/bookings/images/galleries/damn-cheap-classic-cars/0.jpg"); }

.vehicle-container {
  padding: 5px; }
  .vehicle-container i {
    margin-right: .5em; }

.vehicle-img {
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain; }

.van-off-img-1 {
  background-image: url("../img/ico2.png"); }

.van-off-img-2 {
  background-image: url("../img/hi2.png"); }

.van-non-img-1 {
  background-image: url("../img/ico2.png"); }

.van-non-img-2 {
  background-image: url("../img/zep.png"); }

.van-plain-img-1 {
  background-image: url("../img/prem2.png"); }

.awd-budg-img-1 {
  background-image: url("../img/budg2.png"); }

.awd-budg-img-2 {
  background-image: url("../img/budg5.png"); }

.awd-prem-img-1 {
  background-image: url("../img/4wd2.png"); }

.awd-prem-img-2 {
  background-image: url("../img/4wd5.png"); }

.car-dc {
  background-image: url("../img/dc.png"); }

.car-bus {
  background-image: url("../img/bus.png"); }

.car-mini-2 {
  background-image: url("../img/mini2.png"); }

.car-mini-3 {
  background-image: url("../img/mini3.png"); }

.car-mini-5 {
  background-image: url("../img/mini5.png"); }

.offensive {
  padding-top: 10px; }
  .offensive::before {
    content: 'Offensive';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.nonoffensive {
  padding-top: 10px; }
  .nonoffensive::before {
    content: 'Non-offensive';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.plain {
  padding-top: 10px; }
  .plain::before {
    content: 'Plain';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.budget {
  padding-top: 10px; }
  .budget::before {
    content: 'Budget';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.premium {
  padding-top: 10px; }
  .premium::before {
    content: 'Premium';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.camper {
  padding-top: 10px; }
  .camper::before {
    content: 'Mini-Campers';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.noncamper {
  padding-top: 10px; }
  .noncamper::before {
    content: 'Cars';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.btn-active {
  background-color: darkred !important; }

.show {
  display: block !important; }

.price span {
  font-size: .75em; }

.capacity {
  color: #ffb700;
  font-size: 2.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2e2e2e; }
  .capacity span {
    font-family: 'helvetica';
    font-weight: bold;
    margin-right: -22px; }
  .capacity .fa-male {
    margin-right: -4px !important; }
  .capacity .fa-times {
    margin-left: 7px; }

.vehicle-name {
  margin-bottom: 0;
  padding: 5px;
  font-weight: 400 !important; }

.fa-check {
  color: red; }

.fa-images, .fa-tv-retro {
  color: #615b5b; }
/*# sourceMappingURL=styles.css.map */