@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: .8rem; }

body {
  background-color: #c20606;
  height: 100%; }

#spacer {
  height: 40%; }

.navbar {
  padding: 0 0 0 0;
  font-weight: 600; }

.anchor::before {
  display: block;
  content: " ";
  margin-top: -72px;
  height: 72px;
  visibility: hidden;
  pointer-events: none; }

.navbar .navbar-toggler {
  border-color: #b9a17e; }

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 161, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.hero-section {
  margin-top: -56px;
  height: 80vh;
  min-height: 700px;
  background-color: darkgray;
  background-image: linear-gradient(-45deg, #d61b1b, #ff9956);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.navbar-brand {
  font-family: 'Quicksand';
  font-size: 1.5em; }

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .fab {
  color: #ffffff; }

.navbar .nav-link.active {
  background-color: #c20606; }

.category {
  font-family: Roboto; }

.category ul i {
  color: red;
  font-size: 1.5em;
  margin-right: .5em; }

.category ul li {
  margin-bottom: .4em;
  font-weight: 400;
  font-size: 1.2em; }

.category-img {
  min-height: 200px;
  max-height: 300px;
  background-size: cover;
  background-position: center; }

.category-img-1 {
  background-image: url("https://instagram.fbne6-1.fna.fbcdn.net/vp/5f34273ac66935562b6741ac54d0b52b/5E116902/t51.2885-15/sh0.08/e35/s640x640/30830926_221508718430865_2571012597851619328_n.jpg?_nc_ht=instagram.fbne6-1.fna.fbcdn.net&_nc_cat=109");
  background-position: 50% 75%; }

.category-img-2 {
  background-image: url("../img/7.jpg");
  background-position-y: 50%; }

.category-img-3 {
  background-image: url("https://www.wickedcampers.com.au/images/featuregallery/mini3/5.jpg"); }

.vehicle-container {
  font-family: 'roboto';
  padding: 20px 20px 20px 20px; }
  .vehicle-container i {
    margin-right: .5em;
    color: red; }

.vehicle-img {
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain; }

.van-off-img-1 {
  background-image: url("../img/ico2.png"); }

.van-off-img-2 {
  background-image: url("../img/hi2.png"); }

.van-non-img-1 {
  background-image: url("../img/ico2.png"); }

.van-non-img-2 {
  background-image: url("../img/zep.png"); }

.van-plain-img-1 {
  background-image: url("../img/prem2.png"); }

.awd-budg-img-1 {
  background-image: url("../img/budg2.png"); }

.awd-budg-img-2 {
  background-image: url("../img/budg5.png"); }

.awd-prem-img-1 {
  background-image: url("../img/4wd2.png"); }

.awd-prem-img-2 {
  background-image: url("../img/4wd5.png"); }

.car-dc {
  background-image: url("../img/dc.png"); }

.car-bus {
  background-image: url("../img/bus.png"); }

.car-mini-2 {
  background-image: url("../img/mini2.png"); }

.car-mini-3 {
  background-image: url("../img/mini3.png"); }

.car-mini-5 {
  background-image: url("../img/mini5.png"); }

.offensive {
  padding-top: 10px; }
  .offensive::before {
    content: 'Offensive';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.nonoffensive {
  padding-top: 10px; }
  .nonoffensive::before {
    content: 'Non-offensive';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.plain {
  padding-top: 10px; }
  .plain::before {
    content: 'Plain';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.budget {
  padding-top: 10px; }
  .budget::before {
    content: 'Budget';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.premium {
  padding-top: 10px; }
  .premium::before {
    content: 'Premium';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.camper {
  padding-top: 10px; }
  .camper::before {
    content: 'Mini-Campers';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.noncamper {
  padding-top: 10px; }
  .noncamper::before {
    content: 'Cars';
    background: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.btn-active {
  background-color: darkred !important; }

.show {
  display: block !important; }

.price span {
  font-size: .75em; }

.capacity {
  color: #8b8b8b;
  font-size: 2em; }
  .capacity span {
    font-family: 'helvetica';
    font-weight: bold; }
  .capacity .fa-male {
    margin-right: -4px !important;
    color: #8b8b8b; }
  .capacity .fa-times {
    margin-left: 7px;
    color: #8b8b8b; }
/*# sourceMappingURL=styles.css.map */